/* Style sheet for landing page */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937;
}

.main-container {
    background-color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    
}



.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    padding: 10px;
    height: 280px;
    min-width: 480px;
}

.left-hero {
    flex: 1;
}

.right-hero {
    flex: 1;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: 700;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
}


h2 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.logo {


}

.links a {
    text-decoration: none;
    color: white;

}
    

.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}