/* Style sheet for landing page */


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {

    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.main-container {
    background-color: #1f2937;
    padding: 100px 200px;
 
    display: flex;
    justify-content: space-between;

}

.main-container p {
    font-size: 18px;
    color: #e5e7eb;
}



.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    padding: 10px;
    width: 480px;
    height: 280px;
}

.left-hero {
    flex-shrink: 1;
    width: 480px;
    margin-right: 40px;

}



button {
    background-color: #3882F6;
    padding: 10px 36px;
    border-radius: 10px;
    font-weight: 700;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
}


h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}



.logo {


}

.links a {
    text-decoration: none;
    color: white;

}
    

.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.body-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px; 
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
}

.card-wrapper {
    max-width: 158px;
 
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card-wrapper p {
    color: #1F2937;
    font-weight: 300;
}

.card {
    border-radius: 10px;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

h4 {
    font-size: 20px;
}

.quote-container {
    background-color: #E5E7EB;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.quote {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote h4 {
    text-align: right;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 5px;
   padding: 40px 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 48px;
}

.call-to-action h4 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-bottom: 0px;
   
}

.call-to-action p {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 500;
    margin-top: 5px;
}

.call-to-action-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.call-to-action button {
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
}

.footer {
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #e5e7eb;
    margin-top: auto;
    display: flex;
    justify-content: center;
}