/* Style sheet for landing page */

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {


}
    

.links {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}